// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


a.custom-card,
a.custom-card:hover {
    color: inherit;
}

div.effect-round:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
