//// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//
//// Variables
//@import 'variables';
//
//// Bootstrap
//@import '~bootstrap/scss/bootstrap';


.numbers {
    display: flex;
    flex-direction: column;
    //min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

@media only screen and (min-width: 576px) {
    .numbers {
        flex: 1;
        flex-direction: row;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar--small {
        padding: 0;
    }

    .breadcrumb-container-sm {
        width: 80%;
        margin: 10px auto;
    }
}

@media only screen and (min-width: 1024px) {
    .breadcrumb-container-sm {
       display: none;
    }
}

.number {
    border: 0.2rem dashed black;
    border-radius: 1000px;
    //border-radius: .5rem;
    margin: 1rem;
    //padding: 1rem .5rem;
    transition: all .07s ease;
    padding: 0.5rem 1rem;
    text-align: center;
    color: black;
    background: rgba(0,0,0,0);
    font-size: 2rem;
    cursor: pointer;
    line-height: 1;
}

.number--active {
    background-color: #96f877;
}

.question-text {
    text-align: center;
    font-size: 4rem;
}

.center {
    text-align: center;
    font-size: 4rem;
}

.align-next {
    text-align:center
}

.align-next > div {
    vertical-align:top;
    display:inline-block;
    font-size: 4rem;
}

.dropdown-display {
    height: 100px;
}

.rating-smiley {
    font-size:40px;
    display: inline;
}

.bc-div {
    float: left;
}

.promoter-rating {
    font-size:40px;
    color: green;
    display: inline;
}

.passives-rating {
    font-size:40px;
    color: grey;
    display: inline;
}

.detractors-rating {
    font-size:40px;
    color: red;
    display: inline;
}

.answer-timestamp {
    color: grey;
}

.answer-content {
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-grey {
    background-color: Transparent !important;
    background-repeat:no-repeat !important;
    border: none !important;
    cursor:pointer !important;
    overflow: hidden !important;
    outline:none !important;
}
